body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 41, 41);
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
}

.content {
    padding: 20px;
    color: white;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back {
    width: 100vw;
    text-align: center;
    background-color: gray;
    padding: 10px;
}