body {
    background-color: rgb(177, 41, 41);
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
    color: white;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100vw;
}

a {
    color: #44a147;
    text-decoration: none;
}