body{
    margin: 0;
    background-color: rgb(60, 5, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    background-color: rgb(24, 24, 24);
    max-width: 300px;
    margin: 0 auto;
}

.content {
    padding: 15px;
    font-size: 1.2rem;
}

.contact p {
    text-align: center;
}