body{
    background-color: rgb(17, 240, 65);
}

.content {
    background-color: gray;
    margin-top: 100px;
    padding: 10px
}


.contact {
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px
}